@import 'normalize';

$dark: #424242;
$light: #9a9a9a;
$highlight: #8bc6db;
$hover: #ba8e00;
$border: #e9e9e9;

$custom_lighter: #FFFCF0;
$custom_light: #FFE583;
$custom_base: #FAD032;
$custom_dark: #CFA400;
$custom_darker: #937400;


*{
  background-color: rgba(0,0,0,0.1);
  box-sizing: border-box;
}


body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper-padding {
  padding: 4rem 0;
}

.skinny-wrapper {
  width: 80%;
  max-width: 760px;
  margin: 2em auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

// Flash messages
.notice, .alert {
  text-align: center;
  padding: .8em 0;
  border-bottom: 1px solid $border;
}
.notice {
  background: #aaeeff;
}
.alert {
  background: #ffaaaa;
}

::selection {
  background: $custom_light;
  color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, li, textarea, input {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}
p, ul, ol {
  margin: 0 0 1.6em 0;
}

#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  background: $custom_lighter;
  .name {
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1.5rem;
    text-decoration: none;
    color: $dark;
    float: left;
    border-radius: 50%;
    &:hover {
      border: 2px solid $custom_base;
    }
  }
}
nav {
  float: right;
  padding-top: 1rem;
  a {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    color: $dark;
    &:hover {
      color: $custom_darker;
    }
  }
}

hr {
  width: 50%;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $custom_base;
  margin: 1rem 0 2rem 0;
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 2em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

#main_footer {
  padding: 2.5em 5% 4em;
  border-top: 1px solid $border;
  background: $custom_lighter;
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  nav{
    float: right;
  }
  i {
    color: $dark;
    margin-left: 1em;
    padding-top: .2em;
    &:hover {
      color: $custom_darker;
    }
  }
  
}


input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}
input[type="file"] {
  margin: .5em 0 2em 0;
  cursor: pointer;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $custom_darker;
    color: $custom_darker;
    cursor: pointer;
  }
}

.project-button {
  //background: $custom_dark;
  background: $highlight;
  text-decoration: none;
  color: white;
  padding: 1em 2em;
}

.button-wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}

@import 'welcome';
@import 'posts_projects';
@import 'pygments';
